iframe{
    height: 90vh;
    width: 100vw;
    align-items: center;
    display: flex;
}

#bi{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    transition: 0.5s;
}
  
#bi:hover{
    background-color: #000000ea;
    color: white;
}
  
.back{
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
} 
