body{
    background-color: #E6E6E6;
}

header{
    margin-bottom: 10px;
}

iframe{
    height: 90vh;
    width: 100vw;
    align-items: center;
    display: flex;
}

#bi{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    transition: 0.5s;
}
  
#bi:hover{
    background-color: #000000ea;
    color: white;
}
  
.back{
    background-color: #9c9797;
    color: black;
    border-radius: 10%;
} 
